:host {
    display: block;
    max-width: 400px;
    height: calc(100vh);
}

mat-card {
    height: calc(100% - 32px);
    padding-right: 0px;
    padding-left: 8px;
}

mat-card-content {
    height: calc(100% - 32px);
    overflow-y: auto;
    padding-right: 8px;
}

.chat-item {
    display: block;
    background-color: #fafad2;
    margin-bottom: 5px;
    border-radius: 5px;
    color: black;
    padding: 5px;
}

.title {
    font-weight: bold;
    position: relative;
}

.title .timestamp {
    font-weight: normal;
    font-size: 11px;
    position: absolute;
    right: 0;
}