:host {
    display: block;
}

.spacer {
    flex: 1 1 auto;
}

table {
    background-color: #EEEEEE;
}

th {
    position: sticky !important;
    top: 0;
    width: 400px;
    max-width: 400px;
    height: 60px;
    z-index: 1000;
    background-color: lightgray;
}
